<!DOCTYPE html>

<html>
    <head>
        <title>
            E Commerce Website
        </title>

        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="grid-container">
            <header class="header">E commerce</header>

            <!-- <aside>Shopping Category</aside> -->

            <main class="main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                    <li>Product 6</li>
                    <li>Product 7</li>
                </ul>
            </main>

            <footer class="footer">All rights reserved</footer>
        </div>
    </body>
</html>